.Form {
  min-width: 5.5in;
  width: 8.5in;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 0.25in;
  margin: 0 auto;
  font-size: 11px;
}

.Form span {
  width: 80px;
  display: inline-block;
}
