.Form {
  min-width: 5.5in;
  width: 8.5in;
  background-color: aliceblue;
  border-radius: 20px;
  margin: 0 auto;
  font-size: 11px;
  position: fixed;
  height: 98%;
  max-height: 11in;
  top: 10px;
  left: 5%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Form > div {
  padding: 0.25in;
}

.Form::-webkit-scrollbar {
  display: none;
}

.Form span {
  width: 80px;
  display: inline-block;
}

@media (max-width: 19in) {
  .Form {
    position: static;
  }
}
